alabaster==0.7.12
allennlp==0.9.0
atomicwrites==1.4.0
attrs==19.3.0
Babel==2.8.0
beautifulsoup4==4.9.1
blis==0.2.4
boto3==1.13.19
botocore==1.16.19
bs4==0.0.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
conllu==1.3.1
cycler==0.10.0
cymem==2.0.3
DAWG-Python==0.7.2
docopt==0.6.2
docutils==0.16
editdistance==0.5.3
emoji==0.5.4
flaky==3.6.1
Flask==1.1.2
Flask-Cors==3.0.8
ftfy==5.7
future==0.18.2
gevent==20.5.2
greenlet==0.4.15
h5py==2.10.0
idna==2.8
imagesize==1.2.0
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.14.1
jsonpickle==1.4.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
more-itertools==8.3.0
murmurhash==1.0.2
nltk==3.4.5
numpy==1.18.1
numpydoc==1.0.0
overrides==3.0.0
packaging==20.4
pandas==0.23.4
parsimonious==0.8.1
plac==0.9.6
pluggy==0.13.1
preshed==2.0.1
protobuf==3.12.2
py==1.8.1
pycparser==2.20
Pygments==2.6.1
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pyparsing==2.4.7
pytest==5.4.2
python-dateutil==2.8.1
pytorch-pretrained-bert==0.6.2
pytorch-transformers==1.1.0
pytz==2019.3
PyYAML==5.3
regex==2020.5.14
requests==2.22.0
responses==0.10.14
s3transfer==0.3.3
scikit-learn==0.22.1
scipy==1.4.1
sentencepiece==0.1.91
six==1.14.0
snowballstemmer==2.0.0
soupsieve==2.0.1
spacy==2.1.9
Sphinx==3.0.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.1
srsly==1.0.2
tensorboardX==2.0
thinc==7.0.8
torch==1.5.0
tqdm==4.46.0
Unidecode==1.1.1
urllib3==1.25.8
vk==2.0.2
wasabi==0.6.0
wcwidth==0.1.9
Werkzeug==1.0.1
word2number==1.1
zipp==3.1.0
zope.event==4.4
zope.interface==5.1.0
